<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>index</title>
    </head>
    <body>
      <h1>首页</h1>
      <form action="/logout">
      <input type="submit" value="退出" />
      </form>
      <form action="/userAdd">
      <input type="submit" value="用户添加" />
      </form>
      
      <a href="/img/register.png">图片</a>
      
    </body>
</html>